# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

# Rider / JetBrains
.idea/
*.sln.iml

# Visual Studio Code
.vscode/

# Resharper
_ReSharper*/
*.DotSettings.user

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# Azure
*.publishsettings
*.pubxml
*.pubxml.user

# Entity Framework
*Migrations/*Designer.cs

# Coverage
*.coverage
*.coveragexml
coverage*.json
coverage*.xml
coverage*.info

# Other
*.dbmdl
*.bak
*.log
*.tmp
