<nav class="nav">
    <div class="nav-brand" routerLink="/animals">
        <span class="brand__logo" aria-hidden="true">🐾</span>
        <span class="brand__text">Schronisko</span>
    </div>

    <div class="nav-actions">
        <a routerLink="">O nas</a>
        <a routerLink="animals">Nasze zwierzaki</a>
        <a routerLink="/donate/donar/wall">Nasi darczyńcy</a>
    </div>

    <div class="actions">

        <button routerLink="/donate/widget" class="btn">
            Donacje
        </button>
        @if(isLoggedIn()){
            <button routerLink="/adoption/my/applications" class="btn">
                Moje wnioski o adopcje
            </button>
        }

        @if (canManage()) {
        <div class="dropdown">
            <button class="dropdown-toggle">Panel zarządzania</button>
            <div class="dropdown-menu">
                <a routerLink="/worker/animals/new">Dodaj nowe zwierzę</a>
                <a routerLink="/worker/species/new">Dodaj nowy gatunek</a>
                <a routerLink="/worker/species/manage">Zarządzaj gatunkami</a>
                <a routerLink="/worker/donate/monthly/sum">Statystyki donacji</a>
            </div>
        </div>
        <button class="btn btn-worker" routerLink="worker/medical/due">
            Opieka medyczna
            @if (dueCount() > 0) {
                <span class="counter">{{ dueCount() }}</span>
            }
        </button>
        <button class="btn btn-worker" routerLink="/worker/adoption/list">
            Wnioski o adopcje
            <!-- @if (dueCount() > 0) {
                <span class="counter">{{ dueCount() }}</span>
            } -->
        </button>

        }
        @if (!isLoggedIn()) {
        <button class="btn-register" routerLink="register">Zarejestruj się</button>
        <button class="btn-login" routerLink="login">Zaloguj się</button>
        }
        @else {
        <span class="user-chip">{{ userLabel() }}</span>
        <button class="btn-logout" (click)="logout()">Wyloguj się</button>
        }
    </div>

</nav>