<nav class="nav">
    <div class="nav-brand" routerLink="/animals">
        <span class="brand__logo" aria-hidden="true">🐾</span>
        <span class="brand__text">Schronisko</span>
    </div>

    <div class="nav-actions">
        <a routerLink="">O nas</a>
        <a routerLink="animals">Nasze zwierzaki</a>
    </div>

    <div class="actions">
        @if (canManage()) {
            <div class="dropdown">
                <button class="dropdown-toggle">Panel zarządzania</button>
                <div class="dropdown-menu">
                <a routerLink="/worker/animals/new">Dodaj nowe zwierzę</a>
                <a routerLink="/worker/species/new">Dodaj nowy gatunek</a>
            </div>
            </div>
        }
        @if (!isLoggedIn()) {  
            <button class="btn-register" routerLink="register">Zarejestruj się</button>
            <button class="btn-login" routerLink="login">Zaloguj się</button>
        }
        @else {
            <span class="user-chip">{{ userLabel() }}</span>
            <button class="btn-logout" (click)="logout()">Wyloguj się</button>
        }
    </div>
    
</nav>