<section class="auth-card">
    <h2>Logowanie</h2>

    <form [formGroup]="form" (ngSubmit)="submit()">
        <!-- Email -->
        <label>
            Email
            <input 
                formControlName="email"
                type="email"
                placeholder="you@eexample.com"
                autocomplete="email"
                required
            >
        </label>
        @if (showEmailError()) {
            <small class="hint error">
                Podaj poprawny adres e-mail.
            </small>
        }

        <!-- Password -->
        <label>
            Hasło
            <input 
                formControlName="password"
                type="password"
                placeholder="••••••••"
                autocomplete="current-password"
                required
            >
        </label>
        @if (showPasswordError()) {
            <small class="hint error">
                Hasło musi mieć min. 6 znaków.
            </small>
        }

        <button class="btn" type="submit" [disabled]="loading || form.invalid">
            {{ loading ? 'Logowanie…' : 'Zaloguj się' }}
        </button>

        <a routerLink="/register" class="link">Nie masz konta? Zarejestruj się</a>

        @if (error) {
            <p class="error">{{error}}</p>
        }
    </form>
</section>